In [1]:
import pandas as pd
import numpy as np

Generate Product Reviews with Reviewer Information

In [2]:
dfr = pd.read_csv('Reviewer_Information.csv')

In [3]:
dfr.Recent_ratings = dfr.Recent_ratings.str.split()

In [4]:
dfr.dropna(axis=0,subset=['Recent_ratings'], inplace=True)

In [5]:
#type(dfrt.Recent_ratings.iloc[1][0])

In [6]:
for i in range(len(dfr)):
    dfr.Recent_ratings.iloc[i] = map(int, dfr.Recent_ratings.iloc[i])

In [7]:
dfr['Recent_rating_mean']=None
dfr['Recent_rating_SD'] = None

In [8]:
for i in range(len(dfr)):
    dfr['Recent_rating_mean'].iloc[i] = reduce(lambda x, y: float(x)+float(y),
                                            dfr.Recent_ratings.iloc[i])/float(len(dfr.Recent_ratings.iloc[i]))
    dfr['Recent_rating_SD'].iloc[i] = np.std(dfr.Recent_ratings.iloc[i], axis=0)

In [9]:
dfr.Total_reviews = dfr.Total_reviews.str.replace(",","")

In [10]:
dfr.Total_reviews=pd.to_numeric(dfr.Total_reviews)

In [11]:
dfr.drop(dfr.Reviewer_ranking=="", axis=0, inplace=True)

In [12]:
dfr.Reviewer_ranking.fillna(20000000, inplace=True)

In [13]:
#dfr[dfr.Reviewer_ranking=='(Learn']

In [14]:
dfr.Reviewer_ranking = dfr.Reviewer_ranking.str.replace(",","")

In [15]:
dfr.drop(dfr[dfr.Reviewer_ranking=="(Learn"].index, axis=0, inplace=True)

In [16]:
#dfr[dfr.Reviewer_ranking=='(Learn']

In [17]:
dfr.Reviewer_ranking=pd.to_numeric(dfr.Reviewer_ranking)

In [18]:
dfr.Total_reviews=pd.to_numeric(dfr.Total_reviews)

In [19]:
dfr.Total_helpful_votes.fillna(0, inplace=True)

In [20]:
dfr.Total_helpful_votes=dfr.Total_helpful_votes.str.split()

In [21]:
dfr.Total_helpful_votes=dfr.Total_helpful_votes

In [22]:
dfr['Total_helpful_votes_nmrtr']=None

In [23]:
dfr['Total_helpful_votes_dnmtr']=0

In [24]:
dfrt=dfr.iloc[0:100]

In [25]:
df = pd.read_csv('Net_Ratings_Robust_backup.csv')

/Users/gregmurray/Library/Enthought/Canopy_64bit/User/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [26]:
dfr.Total_helpful_votes.fillna(0, inplace=True)

In [27]:
dfr.Total_helpful_votes_nmrtr

1        None
2        None
3        None
4        None
5        None
6        None
7        None
8        None
9        None
10       None
11       None
12       None
13       None
14       None
15       None
16       None
17       None
18       None
19       None
20       None
21       None
22       None
23       None
24       None
25       None
26       None
27       None
28       None
29       None
30       None
         ...
39248    None
39249    None
39250    None
39251    None
39252    None
39253    None
39254    None
39255    None
39256    None
39257    None
39258    None
39259    None
39260    None
39261    None
39262    None
39263    None
39264    None
39265    None
39266    None
39267    None
39268    None
39269    None
39270    None
39271    None
39272    None
39273    None
39274    None
39275    None
39276    None
39277    None
Name: Total_helpful_votes_nmrtr, Length: 39118, dtype: object

In [28]:
dfr.Total_helpful_votes_nmrtr = dfr.Total_helpful_votes.apply(lambda d: d if d==0 else d[0])

In [29]:
dfr.Total_helpful_votes_dnmtr = dfr.Total_helpful_votes.apply(lambda d: d if d==0 else d[-1])

In [30]:
'''for i in range(8000, 16000):
    if dfr.Total_helpful_votes.iloc[i]==0:
        #print "first if " + str(dfrt.Total_helpful_votes.iloc[i])
        dfr.Total_helpful_votes_nmrtr.iloc[i] = dfr.Total_helpful_votes.iloc[i]
        dfr.Total_helpful_votes_dnmtr.iloc[i] = dfr.Total_helpful_votes.iloc[i]
        continue
    else:
        dfr.Total_helpful_votes_nmrtr.iloc[i] = dfr.Total_helpful_votes.iloc[i][0]
        dfr.Total_helpful_votes_dnmtr.iloc[i] = dfr.Total_helpful_votes.iloc[i][-1]
'''

'for i in range(8000, 16000):\n    if dfr.Total_helpful_votes.iloc[i]==0:\n        #print "first if " + str(dfrt.Total_helpful_votes.iloc[i])\n        dfr.Total_helpful_votes_nmrtr.iloc[i] = dfr.Total_helpful_votes.iloc[i]\n        dfr.Total_helpful_votes_dnmtr.iloc[i] = dfr.Total_helpful_votes.iloc[i]\n        continue\n    else:\n        dfr.Total_helpful_votes_nmrtr.iloc[i] = dfr.Total_helpful_votes.iloc[i][0]\n        dfr.Total_helpful_votes_dnmtr.iloc[i] = dfr.Total_helpful_votes.iloc[i][-1]\n'

In [31]:
dfp = pd.read_csv('ProductReviews.csv')

In [32]:
rd = dfp.iloc[:, :9]

In [33]:
rd = rd.groupby(['Item_ID', 'Review_date']).agg({'Rating':'sum', 'Review_ID':'count'})

In [34]:
rd.reset_index(inplace=True)

In [35]:
rd['Review_date']=pd.to_datetime(rd.Review_date)

In [36]:
rd = rd.sort_values(by=['Item_ID', 'Review_date'])

In [37]:
rd[(rd.Rating/rd.Review_ID)>5]

Empty DataFrame
Columns: [Item_ID, Review_date, Rating, Review_ID]
Index: []

In [38]:
rd.reset_index(drop=True, inplace=True)

In [39]:
#rd

In [40]:
def rol_mean(df):
    try:
        df.sort_values(by=['Item_ID', 'Review_date'])
    except e as IndexError:
        print "Data Frame must have columns 'Item_ID and 'Review_date'"
    res = []
    rol_rate = 0
    rol_revcnt = 0
    rol_mean = 0
    crnt_item = df.iloc[0, 0]
    total_item_revs = 1
    
    def append_tmp(df, tmp, res, rol_mean, total_item_revs):
            tmp.append(df.iloc[i, 0])
            tmp.append(df.iloc[i, 1])
            tmp.append(rol_mean)
            tmp.append(total_item_revs)
            if first_rev:
                tmp.append(True)
            else:
                tmp.append(False)
            res.append(tmp)
            total_item_revs +=1
            return res
            
    for i in range(1,len(df)):
        tmp=[]
        new_item=False
        first_rev=False
        if df.iloc[i, 0]!=crnt_item:
            crnt_item=df.iloc[i, 0]
            rol_rate = 0
            rol_revcnt = 0
            rol_mean = 0
            total_item_revs = 0 
            first_rev = True
            tmp.append(df.iloc[i, 0])
            tmp.append(df.iloc[i, 1])
            tmp.append(rol_mean)
            tmp.append(total_item_revs)
            if first_rev:
                tmp.append(True)
            else:
                tmp.append(False)
            res.append(tmp)
            total_item_revs +=1
            continue
        try:
            if df.iloc[i+1, 0]!=crnt_item:
                new_item=True
        except:
            #print "hmmm"
            pass
        rol_rate = rol_rate + df.iloc[i-1, 2]
        #print df.iloc[i,2]
        #print "i=" + str(i) + " rol_rate: " + str(rol_rate)
        rol_revcnt = rol_revcnt + df.iloc[i-1, 3]
        #print "i=" + str(i) + " rol_revcnt: " + str(rol_revcnt)
        rol_mean = float(rol_rate)/float(rol_revcnt)
        tmp.append(df.iloc[i, 0])
        tmp.append(df.iloc[i, 1])
        tmp.append(rol_mean)
        tmp.append(total_item_revs)
        if first_rev:
            tmp.append(True)
        else:
            tmp.append(False)
        res.append(tmp)
        total_item_revs +=1
            
    return res

In [41]:
#t = rd[(rd['Item_ID']=='B008CSO96I')]

In [42]:
#rol_mean(t)

In [43]:
rol = rol_mean(rd)

In [44]:
#rol

In [45]:
r = pd.DataFrame(rol, columns=['Item_ID', 'Review_date', 'Rol_Mean', 'Total_Item_Reviews', 'First_Review_date'])

In [46]:
rd2 = rd.merge(r, how='left', on=['Item_ID', 'Review_date'])

In [47]:
#dfp[(dfp['Item_ID']=='B008CSO96I')]

In [48]:
#rd2

In [49]:
dfp = dfp.iloc[:, :9]

In [50]:
dfp['Review_date']=pd.to_datetime(dfp.Review_date)

In [51]:
rd2.columns = ['Item_ID', 'Review_date', 'Ratings_Sum', 'Review_Cnt', 'Net_Rating', 'Total_Item_Reviews', 'First_Review_date']

In [52]:
dfp2 = dfp.merge(rd2, how='left', on=['Item_ID', 'Review_date'])

In [53]:
dfp2.sort_values(by=['Item_ID', 'Review_date'], inplace=True)

In [54]:
#dfp2.to_csv('/Users/gregmurray/Documents/Marketing_Analytics_Winter_18/TabletData_Project/Net_Ratings.csv')

In [55]:
#dfp2['Net_Rating_Dsc'] = dfp2['Net_Rating'].round(0)

In [56]:
dfp5 = dfp2.merge(dfr, how='left', on='Reviewer_ID')

In [57]:
#dfp5[dfp5['Item_ID']=='B008CSO96I']['Review_date']

In [58]:
#dfp5[dfp5['Review_ID']=='R2L4YGFE4855W2']['Net_Rating']

In [59]:
#type(dfp2[dfp2['Review_ID']=='RPKL7UKFYY0AL'].Review_date.iloc[0])

In [60]:
#dfp5

In [61]:
dfp5.at[0, 'Net_Rating']=0

In [62]:
dfp5.at[0, 'Review_ID']=0

In [63]:
dfp5.at[0,'First_Review_date']=True

In [64]:
dfp5.First_Review_date.nunique()

2

In [65]:
dfp5.Total_Item_Reviews.fillna(0, inplace=True)

In [66]:
dfp5.Total_reviews.fillna(0, inplace=True)

In [67]:
dfp5.Reviewer_ranking.fillna(20000000, inplace=True)

In [68]:
dfp5.Recent_rating_mean.fillna(0, inplace=True)

In [69]:
dfp5.Recent_rating_SD.fillna(0, inplace=True)

In [70]:
dfp5.Total_helpful_votes_nmrtr.fillna(0, inplace=True)

In [71]:
dfp5.Total_helpful_votes_dnmtr.fillna(0, inplace=True)

In [72]:
dfp5.Recent_ratings.fillna(0, inplace=True)

In [73]:
dfp5[dfp5.Recent_ratings.isnull()==True]

Empty DataFrame
Columns: [Review_ID, Item_ID, Base_item_ID, Review_date, Reviewer_ID, Real_name, Verified_purchase, Rating, Title, Ratings_Sum, Review_Cnt, Net_Rating, Total_Item_Reviews, First_Review_date, Total_reviews, Reviewer_ranking, Total_helpful_votes, Location, Recent_ratings, Recent_rating_mean, Recent_rating_SD, Total_helpful_votes_nmrtr, Total_helpful_votes_dnmtr]
Index: []

[0 rows x 23 columns]

In [74]:
dfp5.rename(columns={'Total_reviews':'Total_rvwr_reviews'}, inplace=True)

In [75]:
#dfp5.to_csv('/Users/gregmurray/Documents/Marketing_Analytics_Winter_18/TabletData_Project/Net_Ratings_Robust.csv')

In [76]:
dfp5[dfp5.First_Review_date==True][['Net_Rating', 'Rating', 'Review_Cnt', 'First_Review_date']]

       Net_Rating  Rating  Review_Cnt First_Review_date
0             0.0       5           1              True
23            0.0       1           1              True
24            0.0       5           1              True
28            0.0       5           1              True
29            0.0       3           1              True
31            0.0       4           1              True
37            0.0       4           1              True
39            0.0       4           1              True
40            0.0       4           1              True
41            0.0       1           1              True
42            0.0       5           1              True
43            0.0       4           1              True
46            0.0       5           1              True
48            0.0       5           1              True
50            0.0       1           1              True
51            0.0       1           1              True
56            0.0       5           1              True
58            0.0       4           1              True
72            0.0       4           1              True
74            0.0       2           1              True
82            0.0       5           1              True
84            0.0       4           2              True
85            0.0       4           2              True
335           0.0       3           1              True
336           0.0       3           1              True
367           0.0       5           1              True
369           0.0       1           1              True
390           0.0       5           1              True
393           0.0       5           1              True
506           0.0       5           1              True
...           ...     ...         ...               ...
40658         0.0       5           1              True
40663         0.0       2           1              True
40664         0.0       3           1              True
40665         0.0       2           1              True
40666         0.0       5           1              True
40667         0.0       1           1              True
40668         0.0       5           3              True
40669         0.0       3           3              True
40670         0.0       4           3              True
40681         0.0       4           1              True
40687         0.0       5           1              True
40688         0.0       4           1              True
40689         0.0       5           1              True
40694         0.0       4           1              True
40695         0.0       4           1              True
40699         0.0       5           1              True
40700         0.0       5           1              True
40702         0.0       3           1              True
40705         0.0       5           2              True
40706         0.0       3           2              True
40709         0.0       5           1              True
40710         0.0       3           1              True
40712         0.0       4           1              True
40715         0.0       5           1              True
40723         0.0       2           1              True
40730         0.0       5           1              True
40731         0.0       5           1              True
40732         0.0       1           1              True
40734         0.0       5           1              True
40735         0.0       5           1              True

[901 rows x 4 columns]

In [77]:
dfp5.columns

Index([u'Review_ID', u'Item_ID', u'Base_item_ID', u'Review_date',
       u'Reviewer_ID', u'Real_name', u'Verified_purchase', u'Rating', u'Title',
       u'Ratings_Sum', u'Review_Cnt', u'Net_Rating', u'Total_Item_Reviews',
       u'First_Review_date', u'Total_rvwr_reviews', u'Reviewer_ranking',
       u'Total_helpful_votes', u'Location', u'Recent_ratings',
       u'Recent_rating_mean', u'Recent_rating_SD',
       u'Total_helpful_votes_nmrtr', u'Total_helpful_votes_dnmtr'],
      dtype='object')

In [78]:
'''dfp5["Net_Rating_Bucket"] = dfp5.Net_Rating.apply(lambda x: "A0" if x<1 else ("B1.0" if x<1.25 else (
        "C1.5" if x<1.75 else ("D2.0" if x<2.25 else("E2.5" if x<2.75 else ("F3.0" if x<3.25 else ("G3.5" if x<3.75 else (
                                "H4.0" if x<4.25 else ("I4.5" if x<4.75 else "J5.0")))))))))
                                '''

'dfp5["Net_Rating_Bucket"] = dfp5.Net_Rating.apply(lambda x: "A0" if x<1 else ("B1.0" if x<1.25 else (\n        "C1.5" if x<1.75 else ("D2.0" if x<2.25 else("E2.5" if x<2.75 else ("F3.0" if x<3.25 else ("G3.5" if x<3.75 else (\n                                "H4.0" if x<4.25 else ("I4.5" if x<4.75 else "J5.0")))))))))\n                                '

In [79]:
dfp5["Net_Rating_Bucket"] = dfp5.Net_Rating.apply(lambda x: "A0" if x<1 else ("B1.0" if x<1.5 else (
        "C2.0" if x<2.5 else ("D3.0" if x<3.5 else("E4.0" if x<4.5 else "F5.0")))))

In [80]:
dfp5["Net_Rating_Level"] = dfp5.Net_Rating.apply(lambda x: "negative" if int(x)<3 else ("neutral" if int(x)==3 else (
        "favorable" )))

In [81]:
dfp6=dfp5.copy()

In [82]:
dfp6['Sympathetic_Rating'] = abs(dfp6['Rating']-dfp6['Net_Rating'])<=.5

In [83]:
dfp6

,Review_ID,Item_ID,Base_item_ID,Review_date,Reviewer_ID,Real_name,Verified_purchase,Rating,Title,Ratings_Sum,...,Total_helpful_votes,Location,Recent_ratings,Recent_rating_mean,Recent_rating_SD,Total_helpful_votes_nmrtr,Total_helpful_votes_dnmtr,Net_Rating_Bucket,Net_Rating_Level,Sympathetic_Rating
0,0,1400501776,NaN,2012-04-11,A3LDPF5FMB782Z,True,False,5,Great Color E-Reader With Extra Features,5,...,"[1729, of, 1804]","Houston, Texas, United States","[4, 4, 4, 2, 5, 5, 1, 5, 4, 4]",3.800000,1.249000,1729,1804,A0,negative,False
1,R2UNAEP2B0L62Z,1400501776,NaN,2012-04-17,A1MZVETF38AMZ6,False,False,3,Good Hardware - terrible OS and App availability,3,...,"[274, of, 285]","Earthbound, currently","[5, 3, 5, 5, 5, 5, 5, 4, 5, 3]",4.500000,0.806226,274,285,F5.0,favorable,False
2,R142SLR69LVLT1,1400501776,NaN,2012-04-23,A2FHM5FB0BXKGA,True,False,5,Biggest Deal Around,5,...,"[447, of, 658]",Eastern New England,"[5, 5, 2, 5, 5, 5, 5, 5, 5, 5]",4.700000,0.900000,447,658,E4.0,favorable,False
3,R213BD15OP9Z6N,1400501776,NaN,2012-04-26,A1I3MJJSS3H9RR,False,True,5,"If you can root it, it is better than Amazon's...",9,...,"[6, of, 7]",NaN,"[5, 4]",4.500000,0.500000,6,7,E4.0,favorable,False
4,RJWG7XF0MDVTE,1400501776,NaN,2012-04-26,A2WWBWN4GTCW7Y,False,True,4,Nook tablets,9,...,"[1, of, 1]",NaN,[4],4.000000,0.000000,1,1,E4.0,favorable,True
5,R204PVMFUOSQ2L,1400501776,NaN,2012-05-02,A2USJ3U5OP34N,False,True,5,Nook color tablet 8 gb,5,...,0,NaN,"[5, 5, 4, 5, 3, 5]",4.500000,0.763763,0,0,E4.0,favorable,False
6,R272PFDT40WUP5,1400501776,NaN,2012-05-06,A2WEPBPVYE04UM,False,False,5,Best Gadget Ever!,5,...,"[7, of, 7]",NaN,"[5, 5, 5, 5]",5.000000,0.000000,7,7,F5.0,favorable,True
7,R3DNNXUIXZ4E5Z,1400501776,NaN,2012-05-15,A2DWX3LCX7USSE,False,False,5,Not Complaining,5,...,"[27, of, 29]",NaN,"[4, 5, 4, 5]",4.500000,0.500000,27,29,F5.0,favorable,True
8,RTTDIEG8TE2WF,1400501776,NaN,2012-05-18,A1V1JXSVFAEFBK,False,False,5,Love My Nook Tablet 8GB,5,...,"[2, of, 4]",TEXAS,"[5, 5, 5, 5, 5]",5.000000,0.000000,2,4,F5.0,favorable,True
9,RH662NURKMM2H,1400501776,NaN,2012-05-25,A3AQ5F7I4JGPW6,False,True,5,My New Nook Tablet!,5,...,0,NaN,"[4, 2, 5, 5, 5, 5, 5, 5, 5, 4]",4.500000,0.921954,0,0,F5.0,favorable,True
10,R2USO7ZO3IYW6O,1400501776,NaN,2012-05-28,A39FX5FTFK8LK8,False,True,5,Love It,5,...,"[1, of, 3]","Doniphan, Mo USA","[5, 5, 5]",5.000000,0.000000,1,3,F5.0,favorable,True
11,R22DGR4FMKOQTC,1400501776,NaN,2012-06-04,A10WAMBFRBBTRH,False,False,3,Customization Required,3,...,"[19, of, 39]","Utah, USA","[5, 4, 4, 3, 1, 5, 5, 3, 5, 5]",4.000000,1.264911,19,39,F5.0,favorable,False
12,R20VL95HUI66N4,1400501776,NaN,2012-06-05,ATF9GIT9E3X5S,False,False,3,Know What You're Buying,3,...,"[257, of, 452]",NaN,"[3, 2, 3, 5, 5, 1, 5, 5, 4, 3]",3.600000,1.356466,257,452,F5.0,favorable,False
13,R24C0EF08KVLTS,1400501776,NaN,2012-06-06,A1X1QOKHU1RGNR,False,False,5,Its a meat and potatoes tablet,5,...,0,NaN,[5],5.000000,0.000000,0,0,E4.0,favorable,False
14,R33L8MTVYULOJV,1400501776,NaN,2012-06-18,A253KVKT9AT97C,False,True,5,Yese,5,...,"[1, of, 1]",NaN,"[5, 3, 5, 5, 5, 5, 5, 5]",4.750000,0.661438,1,1,F5.0,favorable,True
15,R2W73VFWG4QYPY,1400501776,NaN,2012-06-25,A2WGHNYAHJ7O4T,False,True,4,Outlet Nook tablet 8gb,4,...,0,"Portland, OR","[4, 4]",4.000000,0.000000,0,0,F5.0,favorable,False
16,R2EMBPSQS2XL8W,1400501776,NaN,2012-06-27,A18S2VGUH9SCV5,True,False,4,MIXED FEELINGS,4,...,"[3542, of, 4074]",NaN,"[3, 5, 4, 4, 5, 4, 4, 5, 2, 5]",4.100000,0.943398,3542,4074,F5.0,favorable,True
17,R1GT3MBISBT2JC,1400501776,NaN,2012-06-29,A2GYMUY1KVPYG8,False,True,5,This is a great product!,5,...,0,NaN,[5],5.000000,0.000000,0,0,E4.0,favorable,False
18,R23M8JFP7YVFI,1400501776,NaN,2012-06-30,A22QT5VRYAJAYE,False,False,3,okay but not great,3,...,0,NaN,[3],3.000000,0.000000,0,0,F5.0,favorable,False
19,R27014V442RD3O,1400501776,NaN,2012-07-02,A3PDGWYC08DXF4,False,False,4,A great little tablet for $200,4,...,"[179, of, 186]",NaN,"[5, 5, 5, 5, 3, 5, 3, 5, 5, 5]",4.600000,0.800000,179,186,E4.0,favorable,True
20,R2X7CMKX8RQ47I,1400501776,NaN,2012-07-06,A3BF0IIHLU7TSK,False,True,5,Very Good,5,...,"[1, of, 3]",NaN,"[5, 5, 4, 5]",4.750000,0.433013,1,3,E4.0,favorable,False
21,R11G3210VFYD1M,1400501776,NaN,2012-07-07,A1H8I2PH00UQ2K,True,True,5,This is amazing!,10,...,"[118, of, 155]","Yorba Linda, CA United States","[5, 5, 5, 5, 4, 3, 5, 5, 5, 5]",4.700000,0.640312,118,155,E4.0,favorable,False
22,R2YL353ZZODD1B,1400501776,NaN,2012-07-07,A2U4EGQ83SQUSI,False,True,5,Worth the price,10,...,"[4, of, 6]",NaN,"[2, 4, 4, 5, 5, 5, 5, 1, 1, 5]",3.700000,1.615549,4,6,E4.0,favorable,False
23,R32919U6X0OYPE,B00007JO47,NaN,2011-07-20,A26R67EDIVWDMK,True,False,1,Lack of support from Viewsonic,1,...,"[450, of, 568]",Chicago,"[1, 1, 5, 5, 4, 5, 5, 2, 2, 1]",3.100000,1.757840,450,568,A0,negative,False
24,R2YH13WFUSF2TU,B00008MNDW,NaN,2003-09-06,NaN,False,False,5,great pc,5,...,NaN,NaN,0,0.000000,0.000000,0,0,A0,negative,False
25,R2QWYAPXIUVJ4Z,B00008MNDW,NaN,2003-11-04,AW1JPYRASZ4J1,False,True,5,Pricey but worth it...,5,...,"[142, of, 152]","ER, AK United States","[5, 5, 5, 5, 1, 5, 5, 5, 4, 4]",4.400000,1.200000,142,152,F5.0,favorable,True
26,R1P0YBRQ23B4ZW,B00008MNDW,NaN,2004-06-08,A30Y5AGV27JCCH,True,False,5,Eileen A. Epstein PhD,5,...,"[60, of, 64]","Jersey City, NJ USA","[5, 4, 5, 5]",4.750000,0.433013,60,64,F5.0,favorable,True
27,RP0E3V08SUDY7,B00008MNDW,NaN,2004-06-18,A2QCCN9NLYWOMC,True,False,5,Excellent for scholarly research,5,...,"[22, of, 22]",Chicago,"[4, 5, 4, 5, 5, 5]",4.666667,0.471405,22,22,F5.0,favorable,True
28,R2XYDJ1SIO1TB2,B00008VGRM,NaN,2008-01-11,A3UJQN65YXBL50,False,False,5,Perfect for what it is designed for.,5,...,"[49, of, 59]","Washington, DC","[2, 5, 5, 5, 5, 1, 5, 5, 5, 5]",4.300000,1.417745,49,59,A0,negative,False
29,R1HZ92DRS56OQ3,B000092OY9,NaN,2003-09-29,NaN,False,False,3,"At this price, why?",3,...,NaN,NaN,0,0.000000,0.000000,0,0,A0,negative,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40711,RKWS1V8VZKDZQ,B0087BGQKM,NaN,2012-06-20,A2W9CQJ1S04NZC,False,False,5,The best tablet better than Ipad!!,5,...,0,NaN,[5],5.000000,0.000000,0,0,D3.0,neutral,False
40712,R1PM7729NO23IC,B0087NTX2I,NaN,2012-06-14,AZ0LVZ94KHZXN,False,True,4,Decent Droid for the buck.,4,...,"[21, of, 22]",NaN,[4],4.000000,0.000000,21,22,A0,negative,False
40713,R14FZ8AJ3DX988,B0087NTX2I,NaN,2012-07-08,ALYLAK989O00W,False,True,4,Very nice tablet.,4,...,"[3, of, 3]",NaN,"[4, 4, 4, 5, 5, 4]",4.333333,0.471405,3,3,E4.0,favorable,True
40714,R187BILRK2MNRQ,B0087NTX2I,NaN,2012-07-11,A5SSD9XU76ZQY,False,True,1,Does NOT worth $189,1,...,"[33, of, 44]",NaN,"[1, 1, 1, 1, 1, 1, 1, 1, 5, 1]",1.400000,1.200000,33,44,E4.0,favorable,False
40715,R3EZ8TU7W78RUU,B0087OCPO0,B0087OCPO0,2011-07-16,ABLZBEZVJ0YQI,False,False,5,Mi Traveler Tablet by Michley Tivax is a WINNER,5,...,"[54, of, 57]",NaN,[5],5.000000,0.000000,54,57,A0,negative,False
40716,R3UJT1A3WES1E9,B0087OCPO0,B0087OCPO0,2011-08-31,A3K914JACZUEZ0,False,False,1,Piece of Junk Stay Away!!,1,...,"[5, of, 11]",NaN,[1],1.000000,0.000000,5,11,F5.0,favorable,False
40717,RI2F6VDVQGQA2,B0087OCPO0,B0087OCPO0,2011-09-07,AXMIQ7LE5F73X,False,True,3,it's ok,3,...,"[11, of, 14]",NaN,"[5, 5, 5, 5, 5, 5, 5, 5, 5, 5]",5.000000,0.000000,11,14,D3.0,neutral,True
40718,R2C3LMELS7RRX1,B0087OCPO0,B0087OCPO0,2011-12-14,A37FQ5XKHI8TYC,True,False,5,Can't beat it for the price,5,...,"[66, of, 72]",NJ,"[5, 4, 5, 1, 5]",4.000000,1.549193,66,72,D3.0,neutral,False
40719,RRWVM9GSFF255,B0087OCPO0,B0087OCPO0,2011-12-18,A1OP3LYN8I2MGH,True,False,5,Going to have to agree....,5,...,"[231, of, 265]",North Carolina,"[5, 5, 2, 4, 5, 1, 4, 2, 3, 3]",3.400000,1.356466,231,265,E4.0,neutral,False
40720,R2RTQZ567XQ39V,B0087OCPO0,B0087OCPO0,2012-01-27,ANLZI2ZLYE7O6,False,False,1,Junk,1,...,"[7, of, 11]",NaN,"[5, 3, 1]",3.000000,1.632993,7,11,E4.0,neutral,False
40721,R2OJ5O0JRDKSTL,B0087OCPO0,B0087OCPO0,2012-03-25,A40CAC3HA2GAL,False,False,1,Horrible worst thing ever don't get it,1,...,"[5, of, 11]",NaN,[1],1.000000,0.000000,5,11,D3.0,neutral,False
40722,R1KZ65BDT03X69,B0087OCPO0,B0087OCPO0,2012-07-11,A2LTWN13SKI60W,False,False,4,so far great,4,...,"[3, of, 3]",NaN,[4],4.000000,0.000000,3,3,D3.0,neutral,False
40723,R2BR1W4RBNT69S,B00884BPUE,NaN,2012-06-19,A2D8P9RED19MWF,False,False,2,A small product designed by small minds; wait ...,2,...,"[131, of, 237]",NaN,"[1, 1, 5, 1, 1, 2, 4, 2, 1, 1]",1.900000,1.374773,131,237,A0,negative,False
40724,R2IGZ3TXJG5RQX,B00884BPUE,NaN,2012-06-20,A1QY3VYCYH4120,False,False,2,Good Idea Poorly Executed,2,...,"[42, of, 59]",Kansas City,"[3, 4, 2, 2, 5, 4, 3, 4, 4, 4]",3.500000,0.921954,42,59,C2.0,negative,True
40725,R1X37YJ3NMOHX6,B00884BPUE,NaN,2012-06-30,A29JN4X6LL3ZII,False,False,2,Good Idea Bad Execution,2,...,NaN,NaN,0,0.000000,0.000000,0,0,C2.0,negative,True
40726,R1T2PWHRX1TU9,B00884BPUE,NaN,2012-07-05,A1INWJU0IERGH2,False,False,2,Fragile screen,2,...,"[7, of, 10]",NaN,"[4, 5, 5, 4, 5, 2]",4.166667,1.067187,7,10,C2.0,negative,True
40727,R1BGPSOLPB5DUS,B00884BPUE,NaN,2012-07-06,ALEG9QCIUWK81,False,False,1,on lower end of the bunch,8,...,"[22, of, 31]",NaN,"[2, 5, 4, 5, 1, 5, 3, 3, 5, 4]",3.700000,1.345362,22,31,C2.0,negative,False
40728,R39UPKTUZM3VSP,B00884BPUE,NaN,2012-07-06,AR3KK23O14O5I,True,False,4,It's a nice little e-reader,8,...,"[49, of, 64]",NY,"[1, 4, 1, 1, 2, 5, 2]",2.285714,1.484615,49,64,C2.0,negative,False
40729,R39ZFB11GGY9SW,B00884BPUE,NaN,2012-07-06,A2622K4C2NMUW5,False,False,3,DO NOT buy ebooks from B&N!!!,8,...,"[13, of, 19]",NaN,"[3, 3, 4, 4, 1]",3.000000,1.095445,13,19,C2.0,negative,False
40730,RNZ7X8D5NIMNF,B0089IVRN4,NaN,2012-07-04,A2LV7X2UCINGBI,False,True,5,"Great tablet, great value!",5,...,"[5, of, 5]",NaN,"[5, 5]",5.000000,0.000000,5,5,A0,negative,False
40731,R1ES1MXM8M1F5R,B0089JNO34,NaN,2012-06-23,A2QIC4G483SQQA,False,True,5,My best purchase ever,5,...,"[39, of, 55]",NaN,"[4, 2, 5, 5, 2, 5, 4, 5, 1, 2]",3.500000,1.500000,39,55,A0,negative,False
40732,RIIM2E4G8IJKV,B008BBEL1O,NaN,2012-07-07,AB6AO0JBIZGWV,False,True,1,ewww,1,...,"[6, of, 23]",NaN,"[1, 5, 5, 3]",3.500000,1.658312,6,23,A0,negative,False
40733,R3TSFMQ79L7OY8,B008BBEL1O,NaN,2012-07-09,AMKBCFTS4AAD1,True,False,5,CPA helper,5,...,"[10, of, 30]","PUERTO RICO, USA","[5, 5, 5, 5, 5, 5, 4, 5, 5]",4.888889,0.314270,10,30,B1.0,negative,False
40734,R25O2RQ3I35AGD,B008BH7UES,NaN,2012-07-03,A2U2UN43S03J97,False,True,5,Great Purchase,5,...,"[3, of, 6]",NaN,[5],5.000000,0.000000,3,6,A0,negative,False
40735,RVAWTZYQO2F4F,B008CSO96I,NaN,2012-06-21,A1Y0PKHYW7G2WM,False,False,5,Google Play How-To,5,...,NaN,NaN,0,0.000000,0.000000,0,0,A0,negative,False
40736,R1P9TR9HF8STM7,B008CSO96I,NaN,2012-06-26,A2SM7DTD8KIV84,False,False,5,"You can't go wrong with its purchase, flexible...",5,...,NaN,NaN,0,0.000000,0.000000,0,0,F5.0,favorable,True
40737,RMQ6WI6FB6B7M,B008CSO96I,NaN,2012-07-03,AOW1XQNV8MF2Q,False,True,5,Inexpensive Android Tablet from Amazon.com,5,...,"[67, of, 71]",NaN,"[5, 5]",5.000000,0.000000,67,71,F5.0,favorable,True
40738,R1Z05GWI0HWKHS,B008CSO96I,NaN,2012-07-04,A19SJEKXWEB0YZ,False,False,5,I Love My IdolPad PLUS,5,...,"[18, of, 20]",NaN,"[5, 5]",5.000000,0.000000,18,20,F5.0,favorable,True
40739,R3A0GSCSKIGF80,B008CSO96I,NaN,2012-07-10,ACCQ1FU9SGKZA,False,False,5,Excellent product for a great price!,10,...,"[39, of, 44]",NaN,"[5, 5, 5, 5, 5, 5, 5, 5, 5, 5]",5.000000,0.000000,39,44,F5.0,favorable,True
40740,RPKL7UKFYY0AL,B008CSO96I,NaN,2012-07-10,A2H6FA95WW018T,False,True,5,Idolpad plus,10,...,"[154, of, 161]",NaN,"[5, 5, 2, 5, 4, 4, 3, 5, 5, 5]",4.300000,1.004988,154,161,F5.0,favorable,True

In [84]:
dfp6.groupby('Sympathetic_Rating').count()

,Review_ID,Item_ID,Base_item_ID,Review_date,Reviewer_ID,Real_name,Verified_purchase,Rating,Title,Ratings_Sum,...,Reviewer_ranking,Total_helpful_votes,Location,Recent_ratings,Recent_rating_mean,Recent_rating_SD,Total_helpful_votes_nmrtr,Total_helpful_votes_dnmtr,Net_Rating_Bucket,Net_Rating_Level
Sympathetic_Rating,,,,,,,,,,,,,,,,,,,,,
False,32379,32379,6382,32379,32368,32379,32379,32379,32379,32379,...,32379,32241,13024,32379,32379,32379,32379,32379,32379,32379
True,8362,8362,1820,8362,8361,8362,8362,8362,8362,8362,...,8362,8318,3599,8362,8362,8362,8362,8362,8362,8362

In [85]:
dfp6["Net_Rating_Class"] = dfp6.Net_Rating.apply(lambda x: "low" if x<3 else ("medium" if x<4 else (
        "high")))

In [86]:
dfp6.to_csv('/Users/gregmurray/Documents/Marketing_Analytics_Winter_18/TabletData_Project/Net_Ratings_Symp.csv')

In [105]:
dfp6.groupby('Item_ID').Total_Item_Reviews.count().sort_values(ascending=False)

Item_ID
B0051VVOB2    19040
B004U78J1G      690
B0045FM6SU      659
B0055D66V4      593
B004EPV7TK      559
B004XZL980      488
B0052P6DQI      436
B004UL34EY      412
B004PGMFG2      391
B004QRIUOG      387
B005HUH88K      377
B002C7481G      357
B0055D67HW      355
B00519RW1U      351
B0047Q9GT4      344
B007P4VOWC      332
B0067PLM5E      319
B007P4YAPK      312
B00413PEZS      298
B005B9G79I      261
B0013FRNKG      251
B004U9USEA      239
B00659AS70      234
B004U78JT8      231
B00519RWI8      228
B004RCUUT8      216
B004SBI2PW      201
B003COZM2C      199
B0047DVWLW      196
B005N130Y4      196
              ...
B006RW5YCY        1
B006TW5YFY        1
B006UGNYNI        1
B006VUSTVU        1
B0051H7FJG        1
B006VV0F5W        1
B006W49NRY        1
B00519AFOQ        1
B006WX06EE        1
B0050JSKR6        1
B00500598I        1
B004ZMG7BA        1
B004X8PA7S        1
B006ZAEV7M        1
B004TH699Q        1
B006ZBP3ZK        1
B004V5WGHU        1
B006ZT4EPM        1
B0070287TW        1
B0070E21PG        1
B0071CUQ4A        1
B0071N5MSY        1
B0071QASD0        1
B0072IXCDA        1
B004UJLUT2        1
B004UHG6KC        1
B00730CVKM        1
B00739TMNM        1
B0073OMKV8        1
B005HF0KOE        1
Name: Total_Item_Reviews, Length: 794, dtype: int64

In [88]:
dfv = pd.read_csv('multiTimeline_GT.csv')

In [89]:
dfv.reset_index(drop=True,inplace=True)

In [90]:
dfv.Month = dfv.Month.str.split("-")

In [91]:
dfv['Review_year'] = dfv.Month.apply(lambda d: d[0])

In [92]:
dfv['Review_month'] = dfv.Month.apply(lambda d: d[1])

In [93]:
dfv

          Month  Tablet computer: (United States) Review_year Review_month
0    [2004, 01]                                10        2004           01
1    [2004, 02]                                10        2004           02
2    [2004, 03]                                10        2004           03
3    [2004, 04]                                 9        2004           04
4    [2004, 05]                                 9        2004           05
5    [2004, 06]                                 9        2004           06
6    [2004, 07]                                 9        2004           07
7    [2004, 08]                                10        2004           08
8    [2004, 09]                                10        2004           09
9    [2004, 10]                                 9        2004           10
10   [2004, 11]                                 9        2004           11
11   [2004, 12]                                 9        2004           12
12   [2005, 01]                                10        2005           01
13   [2005, 02]                                 9        2005           02
14   [2005, 03]                                 8        2005           03
15   [2005, 04]                                 8        2005           04
16   [2005, 05]                                10        2005           05
17   [2005, 06]                                10        2005           06
18   [2005, 07]                                10        2005           07
19   [2005, 08]                                 9        2005           08
20   [2005, 09]                                10        2005           09
21   [2005, 10]                                 9        2005           10
22   [2005, 11]                                11        2005           11
23   [2005, 12]                                10        2005           12
24   [2006, 01]                                10        2006           01
25   [2006, 02]                                10        2006           02
26   [2006, 03]                                10        2006           03
27   [2006, 04]                                 9        2006           04
28   [2006, 05]                                 9        2006           05
29   [2006, 06]                                 8        2006           06
..          ...                               ...         ...          ...
90   [2011, 07]                                33        2011           07
91   [2011, 08]                                45        2011           08
92   [2011, 09]                                44        2011           09
93   [2011, 10]                                39        2011           10
94   [2011, 11]                                78        2011           11
95   [2011, 12]                                96        2011           12
96   [2012, 01]                                50        2012           01
97   [2012, 02]                                44        2012           02
98   [2012, 03]                                42        2012           03
99   [2012, 04]                                36        2012           04
100  [2012, 05]                                37        2012           05
101  [2012, 06]                                47        2012           06
102  [2012, 07]                                45        2012           07
103  [2012, 08]                                47        2012           08
104  [2012, 09]                                49        2012           09
105  [2012, 10]                                51        2012           10
106  [2012, 11]                                92        2012           11
107  [2012, 12]                                95        2012           12
108  [2013, 01]                                53        2013           01
109  [2013, 02]                                45        2013           02
110  [2013, 03]                                41        2013           03
111  [2013, 04]                                35        2013           04
112  [2013, 05]                                39        2013           05
113  [2013, 06]                                44        2013           06
114  [2013, 07]                                42        2013           07
115  [2013, 08]                                46        2013           08
116  [2013, 09]                                46        2013           09
117  [2013, 10]                                48        2013           10
118  [2013, 11]                                79        2013           11
119  [2013, 12]                               100        2013           12

[120 rows x 4 columns]

In [94]:
dfm = pd.read_csv('Prod_MrktDyn_Clean.csv')

In [95]:
dfp5

,Review_ID,Item_ID,Base_item_ID,Review_date,Reviewer_ID,Real_name,Verified_purchase,Rating,Title,Ratings_Sum,...,Reviewer_ranking,Total_helpful_votes,Location,Recent_ratings,Recent_rating_mean,Recent_rating_SD,Total_helpful_votes_nmrtr,Total_helpful_votes_dnmtr,Net_Rating_Bucket,Net_Rating_Level
0,0,1400501776,NaN,2012-04-11,A3LDPF5FMB782Z,True,False,5,Great Color E-Reader With Extra Features,5,...,495.0,"[1729, of, 1804]","Houston, Texas, United States","[4, 4, 4, 2, 5, 5, 1, 5, 4, 4]",3.800000,1.249000,1729,1804,A0,negative
1,R2UNAEP2B0L62Z,1400501776,NaN,2012-04-17,A1MZVETF38AMZ6,False,False,3,Good Hardware - terrible OS and App availability,3,...,47124.0,"[274, of, 285]","Earthbound, currently","[5, 3, 5, 5, 5, 5, 5, 4, 5, 3]",4.500000,0.806226,274,285,F5.0,favorable
2,R142SLR69LVLT1,1400501776,NaN,2012-04-23,A2FHM5FB0BXKGA,True,False,5,Biggest Deal Around,5,...,24705.0,"[447, of, 658]",Eastern New England,"[5, 5, 2, 5, 5, 5, 5, 5, 5, 5]",4.700000,0.900000,447,658,E4.0,favorable
3,R213BD15OP9Z6N,1400501776,NaN,2012-04-26,A1I3MJJSS3H9RR,False,True,5,"If you can root it, it is better than Amazon's...",9,...,1995066.0,"[6, of, 7]",NaN,"[5, 4]",4.500000,0.500000,6,7,E4.0,favorable
4,RJWG7XF0MDVTE,1400501776,NaN,2012-04-26,A2WWBWN4GTCW7Y,False,True,4,Nook tablets,9,...,7486709.0,"[1, of, 1]",NaN,[4],4.000000,0.000000,1,1,E4.0,favorable
5,R204PVMFUOSQ2L,1400501776,NaN,2012-05-02,A2USJ3U5OP34N,False,True,5,Nook color tablet 8 gb,5,...,2062801.0,0,NaN,"[5, 5, 4, 5, 3, 5]",4.500000,0.763763,0,0,E4.0,favorable
6,R272PFDT40WUP5,1400501776,NaN,2012-05-06,A2WEPBPVYE04UM,False,False,5,Best Gadget Ever!,5,...,842702.0,"[7, of, 7]",NaN,"[5, 5, 5, 5]",5.000000,0.000000,7,7,F5.0,favorable
7,R3DNNXUIXZ4E5Z,1400501776,NaN,2012-05-15,A2DWX3LCX7USSE,False,False,5,Not Complaining,5,...,884457.0,"[27, of, 29]",NaN,"[4, 5, 4, 5]",4.500000,0.500000,27,29,F5.0,favorable
8,RTTDIEG8TE2WF,1400501776,NaN,2012-05-18,A1V1JXSVFAEFBK,False,False,5,Love My Nook Tablet 8GB,5,...,1968270.0,"[2, of, 4]",TEXAS,"[5, 5, 5, 5, 5]",5.000000,0.000000,2,4,F5.0,favorable
9,RH662NURKMM2H,1400501776,NaN,2012-05-25,A3AQ5F7I4JGPW6,False,True,5,My New Nook Tablet!,5,...,1552331.0,0,NaN,"[4, 2, 5, 5, 5, 5, 5, 5, 5, 4]",4.500000,0.921954,0,0,F5.0,favorable
10,R2USO7ZO3IYW6O,1400501776,NaN,2012-05-28,A39FX5FTFK8LK8,False,True,5,Love It,5,...,11979406.0,"[1, of, 3]","Doniphan, Mo USA","[5, 5, 5]",5.000000,0.000000,1,3,F5.0,favorable
11,R22DGR4FMKOQTC,1400501776,NaN,2012-06-04,A10WAMBFRBBTRH,False,False,3,Customization Required,3,...,861352.0,"[19, of, 39]","Utah, USA","[5, 4, 4, 3, 1, 5, 5, 3, 5, 5]",4.000000,1.264911,19,39,F5.0,favorable
12,R20VL95HUI66N4,1400501776,NaN,2012-06-05,ATF9GIT9E3X5S,False,False,3,Know What You're Buying,3,...,173854.0,"[257, of, 452]",NaN,"[3, 2, 3, 5, 5, 1, 5, 5, 4, 3]",3.600000,1.356466,257,452,F5.0,favorable
13,R24C0EF08KVLTS,1400501776,NaN,2012-06-06,A1X1QOKHU1RGNR,False,False,5,Its a meat and potatoes tablet,5,...,8526223.0,0,NaN,[5],5.000000,0.000000,0,0,E4.0,favorable
14,R33L8MTVYULOJV,1400501776,NaN,2012-06-18,A253KVKT9AT97C,False,True,5,Yese,5,...,1517449.0,"[1, of, 1]",NaN,"[5, 3, 5, 5, 5, 5, 5, 5]",4.750000,0.661438,1,1,F5.0,favorable
15,R2W73VFWG4QYPY,1400501776,NaN,2012-06-25,A2WGHNYAHJ7O4T,False,True,4,Outlet Nook tablet 8gb,4,...,5104378.0,0,"Portland, OR","[4, 4]",4.000000,0.000000,0,0,F5.0,favorable
16,R2EMBPSQS2XL8W,1400501776,NaN,2012-06-27,A18S2VGUH9SCV5,True,False,4,MIXED FEELINGS,4,...,782.0,"[3542, of, 4074]",NaN,"[3, 5, 4, 4, 5, 4, 4, 5, 2, 5]",4.100000,0.943398,3542,4074,F5.0,favorable
17,R1GT3MBISBT2JC,1400501776,NaN,2012-06-29,A2GYMUY1KVPYG8,False,True,5,This is a great product!,5,...,9967642.0,0,NaN,[5],5.000000,0.000000,0,0,E4.0,favorable
18,R23M8JFP7YVFI,1400501776,NaN,2012-06-30,A22QT5VRYAJAYE,False,False,3,okay but not great,3,...,8407322.0,0,NaN,[3],3.000000,0.000000,0,0,F5.0,favorable
19,R27014V442RD3O,1400501776,NaN,2012-07-02,A3PDGWYC08DXF4,False,False,4,A great little tablet for $200,4,...,6358.0,"[179, of, 186]",NaN,"[5, 5, 5, 5, 3, 5, 3, 5, 5, 5]",4.600000,0.800000,179,186,E4.0,favorable
20,R2X7CMKX8RQ47I,1400501776,NaN,2012-07-06,A3BF0IIHLU7TSK,False,True,5,Very Good,5,...,6077146.0,"[1, of, 3]",NaN,"[5, 5, 4, 5]",4.750000,0.433013,1,3,E4.0,favorable
21,R11G3210VFYD1M,1400501776,NaN,2012-07-07,A1H8I2PH00UQ2K,True,True,5,This is amazing!,10,...,17074.0,"[118, of, 155]","Yorba Linda, CA United States","[5, 5, 5, 5, 4, 3, 5, 5, 5, 5]",4.700000,0.640312,118,155,E4.0,favorable
22,R2YL353ZZODD1B,1400501776,NaN,2012-07-07,A2U4EGQ83SQUSI,False,True,5,Worth the price,10,...,960747.0,"[4, of, 6]",NaN,"[2, 4, 4, 5, 5, 5, 5, 1, 1, 5]",3.700000,1.615549,4,6,E4.0,favorable
23,R32919U6X0OYPE,B00007JO47,NaN,2011-07-20,A26R67EDIVWDMK,True,False,1,Lack of support from Viewsonic,1,...,12977.0,"[450, of, 568]",Chicago,"[1, 1, 5, 5, 4, 5, 5, 2, 2, 1]",3.100000,1.757840,450,568,A0,negative
24,R2YH13WFUSF2TU,B00008MNDW,NaN,2003-09-06,NaN,False,False,5,great pc,5,...,20000000.0,NaN,NaN,0,0.000000,0.000000,0,0,A0,negative
25,R2QWYAPXIUVJ4Z,B00008MNDW,NaN,2003-11-04,AW1JPYRASZ4J1,False,True,5,Pricey but worth it...,5,...,450075.0,"[142, of, 152]","ER, AK United States","[5, 5, 5, 5, 1, 5, 5, 5, 4, 4]",4.400000,1.200000,142,152,F5.0,favorable
26,R1P0YBRQ23B4ZW,B00008MNDW,NaN,2004-06-08,A30Y5AGV27JCCH,True,False,5,Eileen A. Epstein PhD,5,...,1929164.0,"[60, of, 64]","Jersey City, NJ USA","[5, 4, 5, 5]",4.750000,0.433013,60,64,F5.0,favorable
27,RP0E3V08SUDY7,B00008MNDW,NaN,2004-06-18,A2QCCN9NLYWOMC,True,False,5,Excellent for scholarly research,5,...,9202294.0,"[22, of, 22]",Chicago,"[4, 5, 4, 5, 5, 5]",4.666667,0.471405,22,22,F5.0,favorable
28,R2XYDJ1SIO1TB2,B00008VGRM,NaN,2008-01-11,A3UJQN65YXBL50,False,False,5,Perfect for what it is designed for.,5,...,1792376.0,"[49, of, 59]","Washington, DC","[2, 5, 5, 5, 5, 1, 5, 5, 5, 5]",4.300000,1.417745,49,59,A0,negative
29,R1HZ92DRS56OQ3,B000092OY9,NaN,2003-09-29,NaN,False,False,3,"At this price, why?",3,...,20000000.0,NaN,NaN,0,0.000000,0.000000,0,0,A0,negative
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40711,RKWS1V8VZKDZQ,B0087BGQKM,NaN,2012-06-20,A2W9CQJ1S04NZC,False,False,5,The best tablet better than Ipad!!,5,...,15237766.0,0,NaN,[5],5.000000,0.000000,0,0,D3.0,neutral
40712,R1PM7729NO23IC,B0087NTX2I,NaN,2012-06-14,AZ0LVZ94KHZXN,False,True,4,Decent Droid for the buck.,4,...,1411480.0,"[21, of, 22]",NaN,[4],4.000000,0.000000,21,22,A0,negative
40713,R14FZ8AJ3DX988,B0087NTX2I,NaN,2012-07-08,ALYLAK989O00W,False,True,4,Very nice tablet.,4,...,933309.0,"[3, of, 3]",NaN,"[4, 4, 4, 5, 5, 4]",4.333333,0.471405,3,3,E4.0,favorable
40714,R187BILRK2MNRQ,B0087NTX2I,NaN,2012-07-11,A5SSD9XU76ZQY,False,True,1,Does NOT worth $189,1,...,93424.0,"[33, of, 44]",NaN,"[1, 1, 1, 1, 1, 1, 1, 1, 5, 1]",1.400000,1.200000,33,44,E4.0,favorable
40715,R3EZ8TU7W78RUU,B0087OCPO0,B0087OCPO0,2011-07-16,ABLZBEZVJ0YQI,False,False,5,Mi Traveler Tablet by Michley Tivax is a WINNER,5,...,1352211.0,"[54, of, 57]",NaN,[5],5.000000,0.000000,54,57,A0,negative
40716,R3UJT1A3WES1E9,B0087OCPO0,B0087OCPO0,2011-08-31,A3K914JACZUEZ0,False,False,1,Piece of Junk Stay Away!!,1,...,9414145.0,"[5, of, 11]",NaN,[1],1.000000,0.000000,5,11,F5.0,favorable
40717,RI2F6VDVQGQA2,B0087OCPO0,B0087OCPO0,2011-09-07,AXMIQ7LE5F73X,False,True,3,it's ok,3,...,210252.0,"[11, of, 14]",NaN,"[5, 5, 5, 5, 5, 5, 5, 5, 5, 5]",5.000000,0.000000,11,14,D3.0,neutral
40718,R2C3LMELS7RRX1,B0087OCPO0,B0087OCPO0,2011-12-14,A37FQ5XKHI8TYC,True,False,5,Can't beat it for the price,5,...,1579194.0,"[66, of, 72]",NJ,"[5, 4, 5, 1, 5]",4.000000,1.549193,66,72,D3.0,neutral
40719,RRWVM9GSFF255,B0087OCPO0,B0087OCPO0,2011-12-18,A1OP3LYN8I2MGH,True,False,5,Going to have to agree....,5,...,13118.0,"[231, of, 265]",North Carolina,"[5, 5, 2, 4, 5, 1, 4, 2, 3, 3]",3.400000,1.356466,231,265,E4.0,neutral
40720,R2RTQZ567XQ39V,B0087OCPO0,B0087OCPO0,2012-01-27,ANLZI2ZLYE7O6,False,False,1,Junk,1,...,1671189.0,"[7, of, 11]",NaN,"[5, 3, 1]",3.000000,1.632993,7,11,E4.0,neutral
40721,R2OJ5O0JRDKSTL,B0087OCPO0,B0087OCPO0,2012-03-25,A40CAC3HA2GAL,False,False,1,Horrible worst thing ever don't get it,1,...,15015684.0,"[5, of, 11]",NaN,[1],1.000000,0.000000,5,11,D3.0,neutral
40722,R1KZ65BDT03X69,B0087OCPO0,B0087OCPO0,2012-07-11,A2LTWN13SKI60W,False,False,4,so far great,4,...,4748117.0,"[3, of, 3]",NaN,[4],4.000000,0.000000,3,3,D3.0,neutral
40723,R2BR1W4RBNT69S,B00884BPUE,NaN,2012-06-19,A2D8P9RED19MWF,False,False,2,A small product designed by small minds; wait ...,2,...,175412.0,"[131, of, 237]",NaN,"[1, 1, 5, 1, 1, 2, 4, 2, 1, 1]",1.900000,1.374773,131,237,A0,negative
40724,R2IGZ3TXJG5RQX,B00884BPUE,NaN,2012-06-20,A1QY3VYCYH4120,False,False,2,Good Idea Poorly Executed,2,...,315975.0,"[42, of, 59]",Kansas City,"[3, 4, 2, 2, 5, 4, 3, 4, 4, 4]",3.500000,0.921954,42,59,C2.0,negative
40725,R1X37YJ3NMOHX6,B00884BPUE,NaN,2012-06-30,A29JN4X6LL3ZII,False,False,2,Good Idea Bad Execution,2,...,20000000.0,NaN,NaN,0,0.000000,0.000000,0,0,C2.0,negative
40726,R1T2PWHRX1TU9,B00884BPUE,NaN,2012-07-05,A1INWJU0IERGH2,False,False,2,Fragile screen,2,...,841860.0,"[7, of, 10]",NaN,"[4, 5, 5, 4, 5, 2]",4.166667,1.067187,7,10,C2.0,negative
40727,R1BGPSOLPB5DUS,B00884BPUE,NaN,2012-07-06,ALEG9QCIUWK81,False,False,1,on lower end of the bunch,8,...,631273.0,"[22, of, 31]",NaN,"[2, 5, 4, 5, 1, 5, 3, 3, 5, 4]",3.700000,1.345362,22,31,C2.0,negative
40728,R39UPKTUZM3VSP,B00884BPUE,NaN,2012-07-06,AR3KK23O14O5I,True,False,4,It's a nice little e-reader,8,...,408489.0,"[49, of, 64]",NY,"[1, 4, 1, 1, 2, 5, 2]",2.285714,1.484615,49,64,C2.0,negative
40729,R39ZFB11GGY9SW,B00884BPUE,NaN,2012-07-06,A2622K4C2NMUW5,False,False,3,DO NOT buy ebooks from B&N!!!,8,...,1359134.0,"[13, of, 19]",NaN,"[3, 3, 4, 4, 1]",3.000000,1.095445,13,19,C2.0,negative
40730,RNZ7X8D5NIMNF,B0089IVRN4,NaN,2012-07-04,A2LV7X2UCINGBI,False,True,5,"Great tablet, great value!",5,...,2180308.0,"[5, of, 5]",NaN,"[5, 5]",5.000000,0.000000,5,5,A0,negative
40731,R1ES1MXM8M1F5R,B0089JNO34,NaN,2012-06-23,A2QIC4G483SQQA,False,True,5,My best purchase ever,5,...,96004.0,"[39, of, 55]",NaN,"[4, 2, 5, 5, 2, 5, 4, 5, 1, 2]",3.500000,1.500000,39,55,A0,negative
40732,RIIM2E4G8IJKV,B008BBEL1O,NaN,2012-07-07,AB6AO0JBIZGWV,False,True,1,ewww,1,...,15563438.0,"[6, of, 23]",NaN,"[1, 5, 5, 3]",3.500000,1.658312,6,23,A0,negative
40733,R3TSFMQ79L7OY8,B008BBEL1O,NaN,2012-07-09,AMKBCFTS4AAD1,True,False,5,CPA helper,5,...,3187644.0,"[10, of, 30]","PUERTO RICO, USA","[5, 5, 5, 5, 5, 5, 4, 5, 5]",4.888889,0.314270,10,30,B1.0,negative
40734,R25O2RQ3I35AGD,B008BH7UES,NaN,2012-07-03,A2U2UN43S03J97,False,True,5,Great Purchase,5,...,9922139.0,"[3, of, 6]",NaN,[5],5.000000,0.000000,3,6,A0,negative
40735,RVAWTZYQO2F4F,B008CSO96I,NaN,2012-06-21,A1Y0PKHYW7G2WM,False,False,5,Google Play How-To,5,...,20000000.0,NaN,NaN,0,0.000000,0.000000,0,0,A0,negative
40736,R1P9TR9HF8STM7,B008CSO96I,NaN,2012-06-26,A2SM7DTD8KIV84,False,False,5,"You can't go wrong with its purchase, flexible...",5,...,20000000.0,NaN,NaN,0,0.000000,0.000000,0,0,F5.0,favorable
40737,RMQ6WI6FB6B7M,B008CSO96I,NaN,2012-07-03,AOW1XQNV8MF2Q,False,True,5,Inexpensive Android Tablet from Amazon.com,5,...,332665.0,"[67, of, 71]",NaN,"[5, 5]",5.000000,0.000000,67,71,F5.0,favorable
40738,R1Z05GWI0HWKHS,B008CSO96I,NaN,2012-07-04,A19SJEKXWEB0YZ,False,False,5,I Love My IdolPad PLUS,5,...,990536.0,"[18, of, 20]",NaN,"[5, 5]",5.000000,0.000000,18,20,F5.0,favorable
40739,R3A0GSCSKIGF80,B008CSO96I,NaN,2012-07-10,ACCQ1FU9SGKZA,False,False,5,Excellent product for a great price!,10,...,75221.0,"[39, of, 44]",NaN,"[5, 5, 5, 5, 5, 5, 5, 5, 5, 5]",5.000000,0.000000,39,44,F5.0,favorable
40740,RPKL7UKFYY0AL,B008CSO96I,NaN,2012-07-10,A2H6FA95WW018T,False,True,5,Idolpad plus,10,...,18648.0,"[154, of, 161]",NaN,"[5, 5, 2, 5, 4, 4, 3, 5, 5, 5]",4.300000,1.004988,154,161,F5.0,favorable

In [96]:
dfm

,Unnamed: 0,Item_ID,Title,Upc,Week_Num,Sales_Rank,List_Price,Price,LowestNewPrice,LowestUsedPrice,LowestRefurbishedPrice,TradeInValue,TotalNew,TotalUsed,TotalRefurb,NumReviews
0,0,B0051VVOB2,"Kindle Fire, Full Color 7"" Multi-touch Display...",8.150000e+11,1,1.0,0.0,199.00,199.00,185.00,179.00,0.0,1.0,19.0,1.0,13189.0
1,1,B0051VVOB2,"Kindle Fire, Full Color 7"" Multi-touch Display...",8.150000e+11,2,1.0,0.0,199.00,199.00,190.00,179.00,0.0,1.0,15.0,1.0,13622.0
2,2,B0051VVOB2,"Kindle Fire, Full Color 7"" Multi-touch Display...",8.150000e+11,3,1.0,0.0,199.00,199.00,169.50,179.00,0.0,1.0,21.0,1.0,14057.0
3,3,B0051VVOB2,"Kindle Fire, Full Color 7"" Multi-touch Display...",8.150000e+11,4,1.0,0.0,199.00,199.00,175.99,179.00,0.0,1.0,18.0,1.0,14408.0
4,4,B0051VVOB2,"Kindle Fire, Full Color 7"" Multi-touch Display...",8.150000e+11,5,1.0,0.0,199.00,199.00,194.99,169.00,0.0,1.0,19.0,1.0,14739.0
5,5,B0051VVOB2,"Kindle Fire, Full Color 7"" Multi-touch Display...",8.150000e+11,6,1.0,0.0,199.00,199.00,170.00,169.00,0.0,1.0,21.0,1.0,15010.0
6,6,B0051VVOB2,"Kindle Fire, Full Color 7"" Multi-touch Display...",8.150000e+11,7,1.0,0.0,199.00,199.00,165.00,169.00,0.0,1.0,29.0,1.0,15343.0
7,7,B0051VVOB2,"Kindle Fire, Full Color 7"" Multi-touch Display...",8.150000e+11,8,1.0,0.0,199.00,199.00,152.00,169.00,0.0,1.0,36.0,1.0,15672.0
8,8,B0051VVOB2,"Kindle Fire, Full Color 7"" Multi-touch Display...",8.150000e+11,9,1.0,0.0,199.00,199.00,152.00,169.00,0.0,1.0,28.0,1.0,15917.0
9,9,B0051VVOB2,"Kindle Fire, Full Color 7"" Multi-touch Display...",8.150000e+11,10,1.0,0.0,199.00,199.00,156.91,169.00,0.0,1.0,33.0,1.0,16159.0
10,10,B0051VVOB2,"Kindle Fire, Full Color 7"" Multi-touch Display...",8.150000e+11,11,1.0,0.0,199.00,199.00,149.99,169.00,0.0,1.0,30.0,1.0,16380.0
11,11,B0051VVOB2,"Kindle Fire, Full Color 7"" Multi-touch Display...",8.150000e+11,12,1.0,0.0,199.00,199.00,180.00,169.00,0.0,1.0,33.0,1.0,16624.0
12,12,B0051VVOB2,"Kindle Fire, Full Color 7"" Multi-touch Display...",8.150000e+11,13,1.0,0.0,199.00,199.00,160.00,169.00,0.0,1.0,27.0,1.0,16819.0
13,13,B0051VVOB2,"Kindle Fire, Full Color 7"" Multi-touch Display...",8.150000e+11,14,1.0,0.0,199.00,199.00,190.00,139.00,0.0,1.0,24.0,1.0,17065.0
14,14,B0051VVOB2,"Kindle Fire, Full Color 7"" Multi-touch Display...",8.150000e+11,15,1.0,0.0,199.00,199.00,174.95,0.00,0.0,1.0,8.0,0.0,17275.0
15,15,B0051VVOB2,"Kindle Fire, Full Color 7"" Multi-touch Display...",8.150000e+11,16,1.0,0.0,199.00,199.00,178.00,169.00,0.0,1.0,5.0,1.0,17491.0
16,16,B0051VVOB2,"Kindle Fire, Full Color 7"" Multi-touch Display...",8.150000e+11,17,1.0,0.0,199.00,199.00,160.00,169.00,0.0,1.0,24.0,1.0,17661.0
17,17,B0051VVOB2,"Kindle Fire, Full Color 7"" Multi-touch Display...",8.150000e+11,18,1.0,0.0,199.00,199.00,159.99,169.00,0.0,1.0,30.0,1.0,17841.0
18,18,B0051VVOB2,"Kindle Fire, Full Color 7"" Multi-touch Display...",8.150000e+11,19,1.0,0.0,199.00,199.00,164.00,169.00,0.0,1.0,37.0,1.0,18126.0
19,19,B0051VVOB2,"Kindle Fire, Full Color 7"" Multi-touch Display...",8.150000e+11,20,1.0,0.0,199.00,199.00,150.00,0.00,0.0,1.0,26.0,0.0,18321.0
20,20,B0051VVOB2,"Kindle Fire, Full Color 7"" Multi-touch Display...",8.150000e+11,21,1.0,0.0,199.00,199.00,182.45,0.00,0.0,1.0,24.0,0.0,18508.0
21,21,B0051VVOB2,"Kindle Fire, Full Color 7"" Multi-touch Display...",8.150000e+11,22,1.0,0.0,199.00,199.00,150.00,0.00,0.0,1.0,37.0,0.0,18665.0
22,22,B0051VVOB2,"Kindle Fire, Full Color 7"" Multi-touch Display...",8.150000e+11,23,1.0,0.0,199.00,199.00,150.00,0.00,0.0,1.0,40.0,0.0,18836.0
23,23,B0051VVOB2,"Kindle Fire, Full Color 7"" Multi-touch Display...",8.150000e+11,24,1.0,0.0,199.00,199.00,154.50,0.00,0.0,1.0,54.0,0.0,19040.0
24,24,B004U78J1G,ASUS Eee Pad Transformer TF101-A1 10.1-Inch Ta...,6.110000e+11,1,15.0,399.0,394.19,394.19,311.25,334.39,0.0,27.0,15.0,3.0,569.0
25,25,B004U78J1G,ASUS Eee Pad Transformer TF101-A1 10.1-Inch Ta...,6.110000e+11,2,6.0,399.0,392.00,388.99,292.00,334.39,0.0,25.0,17.0,3.0,582.0
26,26,B004U78J1G,ASUS Eee Pad Transformer TF101-A1 10.1-Inch Ta...,6.110000e+11,3,15.0,399.0,392.00,385.99,325.00,0.00,0.0,39.0,18.0,0.0,591.0
27,27,B004U78J1G,ASUS Eee Pad Transformer TF101-A1 10.1-Inch Ta...,6.110000e+11,4,16.0,399.0,392.00,385.99,294.99,309.99,223.0,45.0,15.0,5.0,596.0
28,28,B004U78J1G,ASUS Eee Pad Transformer TF101-A1 10.1-Inch Ta...,6.110000e+11,5,19.0,399.0,392.00,379.99,303.00,304.99,223.0,53.0,7.0,8.0,606.0
29,29,B004U78J1G,ASUS Eee Pad Transformer TF101-A1 10.1-Inch Ta...,6.110000e+11,6,16.0,399.0,392.99,379.99,270.00,309.99,223.0,48.0,9.0,6.0,612.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51882,51882,B005LOV83S,Lenovo Thinkpad T420 Intel Core I5 2520M 2.5 G...,NaN,19,30000.0,0.0,973.89,973.89,0.00,0.00,0.0,1.0,0.0,0.0,0.0
51883,51883,B005LOV83S,Lenovo Thinkpad T420 Intel Core I5 2520M 2.5 G...,NaN,20,30000.0,0.0,973.89,973.89,0.00,0.00,0.0,1.0,0.0,0.0,0.0
51884,51884,B005LOV83S,Lenovo Thinkpad T420 Intel Core I5 2520M 2.5 G...,NaN,21,30000.0,0.0,973.89,973.89,0.00,0.00,0.0,1.0,0.0,0.0,0.0
51885,51885,B005LOV83S,Lenovo Thinkpad T420 Intel Core I5 2520M 2.5 G...,NaN,22,30000.0,0.0,973.89,973.89,0.00,0.00,0.0,1.0,0.0,0.0,0.0
51886,51886,B005LOV83S,Lenovo Thinkpad T420 Intel Core I5 2520M 2.5 G...,NaN,23,30000.0,0.0,1017.79,1017.79,0.00,0.00,0.0,1.0,0.0,0.0,0.0
51887,51887,B005LOV83S,Lenovo Thinkpad T420 Intel Core I5 2520M 2.5 G...,NaN,24,30000.0,0.0,1017.79,1017.79,0.00,0.00,0.0,1.0,0.0,0.0,0.0
51888,51888,B004VFJT2U,"Fujitsu LIFEBOOK T730 12.1"" LED Tablet PC - In...",6.110000e+11,1,45525.0,1299.0,0.00,0.00,749.00,0.00,0.0,0.0,2.0,0.0,0.0
51889,51889,B004VFJT2U,"Fujitsu LIFEBOOK T730 12.1"" LED Tablet PC - In...",6.110000e+11,2,75444.0,1299.0,0.00,0.00,749.00,0.00,0.0,0.0,2.0,0.0,0.0
51890,51890,B004VFJT2U,"Fujitsu LIFEBOOK T730 12.1"" LED Tablet PC - In...",6.110000e+11,3,42959.0,1299.0,0.00,0.00,500.00,0.00,0.0,0.0,1.0,0.0,0.0
51891,51891,B004VFJT2U,"Fujitsu LIFEBOOK T730 12.1"" LED Tablet PC - In...",6.110000e+11,4,73852.0,1299.0,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
51892,51892,B004VFJT2U,"Fujitsu LIFEBOOK T730 12.1"" LED Tablet PC - In...",6.110000e+11,5,6931.0,1299.0,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
51893,51893,B004VFJT2U,"Fujitsu LIFEBOOK T730 12.1"" LED Tablet PC - In...",6.110000e+11,6,8082.0,1299.0,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
51894,51894,B004VFJT2U,"Fujitsu LIFEBOOK T730 12.1"" LED Tablet PC - In...",6.110000e+11,7,9109.0,1299.0,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
51895,51895,B004VFJT2U,"Fujitsu LIFEBOOK T730 12.1"" LED Tablet PC - In...",6.110000e+11,8,9867.0,1299.0,0.00,0.00,0.00,699.99,0.0,0.0,0.0,1.0,0.0
51896,51896,B004VFJT2U,"Fujitsu LIFEBOOK T730 12.1"" LED Tablet PC - In...",6.110000e+11,9,10508.0,1299.0,0.00,0.00,0.00,699.99,0.0,0.0,0.0,1.0,0.0
51897,51897,B004VFJT2U,"Fujitsu LIFEBOOK T730 12.1"" LED Tablet PC - In...",6.110000e+11,10,11153.0,1299.0,0.00,0.00,0.00,699.99,0.0,0.0,0.0,1.0,0.0
51898,51898,B004VFJT2U,"Fujitsu LIFEBOOK T730 12.1"" LED Tablet PC - In...",6.110000e+11,11,11245.0,1299.0,0.00,0.00,0.00,699.99,0.0,0.0,0.0,1.0,0.0
51899,51899,B004VFJT2U,"Fujitsu LIFEBOOK T730 12.1"" LED Tablet PC - In...",6.110000e+11,12,11297.0,1299.0,0.00,0.00,0.00,699.99,0.0,0.0,0.0,1.0,0.0
51900,51900,B004VFJT2U,"Fujitsu LIFEBOOK T730 12.1"" LED Tablet PC - In...",6.110000e+11,13,11486.0,1299.0,0.00,0.00,0.00,649.99,0.0,0.0,0.0,1.0,0.0
51901,51901,B004VFJT2U,"Fujitsu LIFEBOOK T730 12.1"" LED Tablet PC - In...",6.110000e+11,14,714.0,1299.0,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
51902,51902,B004VFJT2U,"Fujitsu LIFEBOOK T730 12.1"" LED Tablet PC - In...",6.110000e+11,15,5223.0,1299.0,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
51903,51903,B004VFJT2U,"Fujitsu LIFEBOOK T730 12.1"" LED Tablet PC - In...",6.110000e+11,16,6966.0,1299.0,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
51904,51904,B004VFJT2U,"Fujitsu LIFEBOOK T730 12.1"" LED Tablet PC - In...",6.110000e+11,17,8318.0,1299.0,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
51905,51905,B004VFJT2U,"Fujitsu LIFEBOOK T730 12.1"" LED Tablet PC - In...",6.110000e+11,18,9118.0,1299.0,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
51906,51906,B004VFJT2U,"Fujitsu LIFEBOOK T730 12.1"" LED Tablet PC - In...",6.110000e+11,19,10090.0,1299.0,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
51907,51907,B004VFJT2U,"Fujitsu LIFEBOOK T730 12.1"" LED Tablet PC - In...",6.110000e+11,20,10808.0,1299.0,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
51908,51908,B004VFJT2U,"Fujitsu LIFEBOOK T730 12.1"" LED Tablet PC - In...",6.110000e+11,21,11328.0,1299.0,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
51909,51909,B004VFJT2U,"Fujitsu LIFEBOOK T730 12.1"" LED Tablet PC - In...",6.110000e+11,22,11807.0,1299.0,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
51910,51910,B004VFJT2U,"Fujitsu LIFEBOOK T730 12.1"" LED Tablet PC - In...",6.110000e+11,23,12133.0,1299.0,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
51911,51911,B004VFJT2U,"Fujitsu LIFEBOOK T730 12.1"" LED Tablet PC - In...",6.110000e+11,24,12282.0,1299.0,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0

In [97]:
len(dfp5.Review_date.unique())

1037

In [98]:
dfp5 = dfp5[dfp5.Review_date>='2012-2-1']

In [99]:
dfp7 = dfp7.iloc[0:100]

NameError: name 'dfp7' is not defined

In [ ]:
dfp7

In [ ]:
from datetime import timedelta
import datetime
def add_week_num2(ser):
    start_date = datetime.datetime(2012, 2, 1)
    for i in range(0, 24):
        a_date=start_date + timedelta(days=7*i)
        b_date = a_date+timedelta(days=6)
        if ser>=a_date and ser<=b_date:
            return int(i+1)      
    return None

In [ ]:
dfp5['Week_Num'] = dfp5.Review_date.apply(add_week_num2)

In [ ]:
dfp7[dfp7.Week_Num==1]["Review_date"]

In [ ]:
dfp5['Review_month'] = dfp5['Review_date'].apply(lambda d: d.month)

In [ ]:
dfp5['Review_year'] = dfp5['Review_date'].apply(lambda d: d.year)

In [ ]:
type(dfp5['Review_month'].iloc[0])

In [ ]:
dfv['Review_month']=dfv['Review_month'].apply(int)

In [ ]:
dfv['Review_year']=dfv['Review_year'].apply(int)

In [ ]:
type(dfv['m'].iloc[0])

In [ ]:
dfp5 = dfp5.merge(dfv, how = 'left', on=['Review_year', 'Review_month'])

In [ ]:
dfm = pd.read_csv('Prod_MrktDyn_Clean.csv')

In [ ]:
dfp5 = dfp5.merge(dfm, how='left' , on=['Item_ID', 'Week_Num'])

In [ ]:
#dfp5.to_csv('/Users/gregmurray/Documents/Marketing_Analytics_Winter_18/TabletData_Project/Net_Ratings_Robust.csv')

In [ ]:
dfp5 = dfp5[dfp5.Price!=0]

In [ ]:
dfpg